<h1>Bookings#index</h1>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="index.js"></script>

   <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.bookahome.ch/uploads/tx_simpleslider/dummy-header1.jpg');">
  <div class="banner-content">
    <h1>ArbNb</h1>
    <p>Start looking from here and Go anywhere</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
  	<div id="header">
			<h2><br/>Book now</h2>
		</div>
        <div class="left">
            <p>Checkin: <input type="text" id="Checkin"></p>
        </div>
        <div class="right">
            <p>CheckOut: <input type="text" id="CheckOut"></p>
        </div><br/>
        <div id="destination">
        	<p>Destination: <select id="dropdown">
				<option value="Madrid">Madrid</option>
				<option value="Barcelone">Barcelone</option>
				<option value="Newyork">New-Tork</option>
				<option value="guinea">Guinea</option>
			</select></p>
			<button>Submit</button>
        </div>
</div>

  </body>
</html>