body {
  background: #F4F4F4;
}


.profile-container {
  background-color: white;
  margin: 50px;
  padding: 50px 50px 50px 150px;
  position: flex;
}

.booking-container {
   background-color: white;
  margin: 20px;
  padding: 50px;
}
// .container {
//   background-color: white;
//   margin-top: 10px;
//   padding: 150px;
// }

