<html>
<head>
  </head>
  <body>

    <div class="banner">
      <div class="banner-content">
        <h1>ArbNb</h1>
        <h2>Start looking from here and Go anywhere</h2>

      </div></div>
      <div id="header">
       <h2><br/>Book now</h2>
     </div>
     <div class="search">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-section">
              <div class="row">
                <form role="form">
                  <div class="col-md-4">
                    <div class="form-group" >
                      <label class="sr-only" for="place">place</label>
                      <input type="text" class="form-control" id="destination" placeholder="Destination ">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="sr-only" for="checkin">checkin</label>
                      <div class="input-group">
                        <input type="text" class="datepicker form-control" id="checkin" placeholder="checkin">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="sr-only" for="checkout">checkout</label>
                      <div class="input-group">
                        <input type="text" class="datepicker form-control" id="checkout" placeholder="checkout">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="sr-only" for="guest">Guest</label>
                      <select id="guest" name="guest" class="form-control">
                        <option value="1">1 Guest</option>
                        <option value="2">2 Guests</option>
                        <option value="3">3 Guests</option>
                        <option value="4">4 Guests</option>
                        <option value="5">5 Guests</option>
                        <option value="6">6 Guests</option>
                        <option value="7">7 Guests</option>
                        <option value="8">8 Guests</option>
                        <option value="9">9 Guests</option>
                        <option value="10">10 Guests</option>
                        <option value="11">11 Guests</option>
                        <option value="12">12 Guests</option>
                        <option value="13">13 Guests</option>
                        <option value="14">14 Guests</option>
                        <option value="15">15 Guests</option>
                        <option value="16">16+ Guests</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-default btn-primary">Search</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></body>
  </div>
</div>
</div>
<hr>
</html>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
  <div class="footer" id="footer">
    <div class="Container">
      <div class="Row">
        <div class=" col-xs-12-4 col-sm-4">
          <h3> Get In Touch </h3>
          <ul>
            <li> <a href="#"> Address </a> </li>
            <li> <a href="#"> Site </a> </li>
            <li> <a href="#"> Map </a> </li>
            <li> <a href="#"> Contact </a> </li>
          </ul>
        </div>
        <div class=" col-xs-12 col-sm-4">
          <h3> Ourself </h3>
          <ul>
            <li> <a href="#"> Email </a> </li>
            <li> <a href="#"> Number </a> </li>
            <li> <a href="#"> Phax </a> </li>
            <li> <a href="#"> Vision </a> </li>
          </ul>
        </div>
        <div class=" col-xs-12 col-sm-4 ">
          <h3> Know more </h3>
          <ul>
            <li>
              <div class="input-append newsletter-box text-center">
                <input type="text" class="full text-center" placeholder="Email ">
                <button class="btn  bg-gray" type="button"> Suscribe <i class="fa fa-long-arrow-right"> </i> </button>
              </div>
            </li>
          </ul>
          <ul class="social">
            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"><i> &copy; PeerReviewCorporation. All right reserved</i> </p><strong id="date"></strong><br>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>




